{% extends 'base.html' %}
{% block contents %}
    
    {% load staticfiles %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light"  style="background-image: URL(
https://i.pinimg.com/originals/5d/9b/02/5d9b0230d0310005350cda5e3cb29a1a.png
        ); background-repeat: repeat;
background-position: 50% 50%; 
height: 400px;
width: 100%;" >
        <div class="col-md-5 p-lg-5 mx-auto my-5">
        <!-- <h1 class="display-4 font-weight-normal">Eating Food Creators</h1> -->
        <!-- <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p> -->
        <!-- <a class="btn btn-outline-secondary" href="#">Coming soon</a> -->
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="width: 716px;">
        <div class="my-3 py-3">
        <h2 class="display-5">Benzh</h2>
        <p class="lead">https://www.youtube.com/user/eodyd188</p>
        </div>
        <!-- <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"> -->
        <img src="{% static 'banz.jpg' %}" alt="banz" style="width: 400px; height:250px;">
        <!-- </div> -->
    </div>
    
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width: 716px;">
        <div class="my-3 p-3">
        <h2 class="display-5">ASMR Suna</h2>
        <p class="lead">https://www.youtube.com/channel/UChYcJLnVxqgO3SkM6vKX9aw</p>
        
        </div>
        <img src="{% static 'suna.jpg' %}" alt="lee" style="width: 400px;">

        <!-- <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div> -->
    </div>
            
    </div>
    
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width: 716px;">
                <div class="my-3 p-3">
                <h2 class="display-5">나름 TV</h2>
                <p class="lead">https://www.youtube.com/channel/UCq9MDndXc1y3he3uPZLPskQ</p>
                
                </div>
                <img src="{% static 'narum.jpg' %}" alt="lee" style="width: 400px;">
        
                <!-- <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div> -->
            </div>
            <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="width: 716px;">
                <div class="my-3 py-3">
                <h2 class="display-5">FRAN</h2>
                <p class="lead">https://www.youtube.com/channel/UC8kRUGUkq_sTGuKNR1l6Rrw</p>
                </div>
                <!-- <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"> -->
                <img src="{% static 'fran.jpg' %}" alt="lee" style="width: 400px; height:250px;">
                <!-- </div> -->
            </div>         
        </div>
    
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="width: 716px;">
                <div class="my-3 py-3">
                <h2 class="display-5">이국주</h2>
                <p class="lead">https://www.youtube.com/channel/UCnPRslWJm1Na6DUuTuSZ12A</p>
                </div>
                <!-- <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"> -->
                <img src="{% static 'leegukju.jpg' %}" alt="lee" style="width: 400px; height:250px;">
                <!-- </div> -->
            </div>
            
            <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width: 716px;">
                <div class="my-3 p-3">
                <h2 class="display-5">띠예</h2>
                <p class="lead">https://www.youtube.com/channel/UC005BPECU5QAR2JVItQOswg</p>
                
                </div>
                <img src="{% static 'diye.jpg' %}" alt="lee" style="width: 400px;">
        
                <!-- <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div> -->
            </div>
                    
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
                <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width: 716px;">
                    <div class="my-3 p-3">
                    <h2 class="display-5">Yasigi Muk-Bang</h2>
                    <p class="lead">https://www.youtube.com/channel/UCsNVs68quFJMaDmR6frfUsQ</p>
                    
                    </div>
                    <img src="{% static 'yasigi.jpg' %}" alt="lee" style="width: 400px;">
            
                    <!-- <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div> -->
                </div>
                <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="width: 716px;">
                    <div class="my-3 py-3">
                    <h2 class="display-5">yulsong</h2>
                    <p class="lead">https://www.youtube.com/channel/UCIS7U2_DctMgEEFb2HPDhjA</p>
                    </div>
                    <!-- <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"> -->
                    <img src="{% static 'yulsong.jpg' %}" alt="lee" style="width: 400px; height:250px;">
                    <!-- </div> -->
                </div>         
            </div>
{% endblock %}
