{% extends 'base.html' %}
{% block contents %}
    
    {% load staticfiles %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center"  style="background-image: URL(
    https://www.kaplaninternational.com/kr/blog/files/styles/device_desktop_medium/public/2018-02/vlog%20cover%20images.png?itok=84BHG7Gg        ); background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
    width: 100%;" >
            
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="width: 716px;">
        <div class="my-3 py-3">
        <h2 class="display-5">노잼봇</h2>
        <p class="lead">https://www.youtube.com/channel/UCMKn6ul1eu4iJ5bZytArywg</p>
        </div>
        <!-- <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"> -->
        <img src="{% static 'nozam.jpg' %}" alt="lee" style="width: 400px; height:250px;">
        <!-- </div> -->
    </div>
    
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width: 716px;">
        <div class="my-3 p-3">
        <h2 class="display-5">소녀의 행성</h2>
        <p class="lead">https://www.youtube.com/channel/UC-IYpdOqjkER7B6cnChwlhA</p>
        
        </div>
        <img src="{% static 'hangsung.jpg' %}" alt="lee" style="width: 400px;">

        <!-- <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div> -->
    </div>
            
    </div>
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width: 716px;">
            <div class="my-3 p-3">
            <h2 class="display-5">ondo온도</h2>
            <p class="lead">https://www.youtube.com/channel/UCSn90DAxCF3yRs6mFK0-8TA</p>
            
            </div>
            <img src="{% static 'ondo.jpg' %}" alt="lee" style="width: 400px;">
    
            <!-- <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div> -->
        </div>
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="width: 716px;">
            <div class="my-3 py-3">
            <h2 class="display-5">혜성</h2>
            <p class="lead">https://www.youtube.com/user/sallyans</p>
            </div>
            <!-- <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"> -->
            <img src="{% static 'hyeseong.jpg' %}" alt="lee" style="width: 400px; height:250px;">
            <!-- </div> -->
        </div>         
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="width: 716px;">
            <div class="my-3 py-3">
            <h2 class="display-5">노곤하개냥TV</h2>
            <p class="lead">https://www.youtube.com/channel/UCnPRslWJm1Na6DUuTuSZ12A</p>
            </div>
            <!-- <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"> -->
            <img src="{% static 'nogon.jpg' %}" alt="lee" style="width: 400px; height:250px;">
            <!-- </div> -->
        </div>
        
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width: 716px;">
            <div class="my-3 p-3">
            <h2 class="display-5">골든단비</h2>
            <p class="lead">https://www.youtube.com/channel/UCmip5Tn3nHkNykkGvfbhteg</p>
            
            </div>
            <img src="{% static 'danbi.jpg' %}" alt="lee" style="width: 400px;">
    
            <!-- <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div> -->
        </div>
                
    </div>
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width: 716px;">
                <div class="my-3 p-3">
                <h2 class="display-5">서비</h2>
                <p class="lead">https://www.youtube.com/channel/UCGl7ahe70fjcAZZoDIJ91VA</p>
                
                </div>
                <img src="{% static 'subi.jpg' %}" alt="lee" style="width: 400px;">
        
                <!-- <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div> -->
            </div>
            <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="width: 716px;">
                <div class="my-3 py-3">
                <h2 class="display-5">OH!YOUNGJU</h2>
                <p class="lead">https://www.youtube.com/channel/UCFsSyiKOtZD7YNt8uXHRlzg</p>
                </div>
                <!-- <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"> -->
                <img src="{% static 'oyoungju.jpg' %}" alt="lee" style="width: 400px; height:250px;">
                <!-- </div> -->
            </div>         
        </div>
    
    
{% endblock %}
