{% extends 'base.html' %}
{% block contents %}
    
    {% load staticfiles %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center"  style="background-image: URL(
        https://ncache.ilbe.com/files/attach/new/20170131/132676392/3021553805/9379773180/42a5db666d0ea876133b9d24689ef5be.png
        ); background-repeat: no-repeat;
background-position: 50% 50%; 
height: 400px;
width: 100%;" >
        
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-warning mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="width: 716px;">
        <div class="my-3 py-3">
        <h2 class="display-5">Sung Kim</h2>
        <p class="lead">https://www.youtube.com/user/hunkims</p>
        </div>
        <!-- <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"> -->
        <img src="{% static 'sungkim.jpg' %}" alt="sungkim" style="width: 400px; height:250px;">
        <!-- </div> -->
    </div>
    
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width: 716px;">
        <div class="my-3 p-3">
        <h2 class="display-5">청춘유리</h2>
        <p class="lead">https://www.youtube.com/channel/UC0lKZNDcf6rj_3SXiZN-0DA</p>
        
        </div>
        <img src="{% static 'etc2.png' %}" alt="chungchun" style="width: 400px;">

        <!-- <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div> -->
    </div>
            
    </div>
    
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
        <h2 class="display-5">총몇명</h2>
        <p class="lead">https://www.youtube.com/results?search_query=%EC%B4%9D%EB%AA%87%EB%AA%85
        </p>
        </div>
        <img src="{% static 'etc3.jpg' %}" alt="allman" style="width: 400px;">
    </div>
    <div class="bg-warning mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
        <h2 class="display-5">추억은 방울TV</h2>
        <p class="lead">https://www.youtube.com/channel/UCzbDqCO0039sHFpZRZQlV9A
        </p>
        </div>
        <img src="{% static 'etc3.png' %}" alt="chuaukTV" style="width: 400px;">
    </div>
    </div>
    
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-warning mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-white text-center overflow-hidden">
        <div class="my-3 p-3">
        <h2 class="display-5">Color Of Likfe</h2>
        <p class="lead">https://www.youtube.com/watch?v=t0bDFVU9rjYhttps://www.youtube.com/watch?v=t0bDFVU9rjY</p>
        </div>
        <img src="{% static 'etc6.jpg' %}" alt="col" style="width: 400px;">
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
        <h2 class="display-5">코이TV</h2>
        <p class="lead">https://www.youtube.com/results?search_query=%EC%BD%94%EC%9D%B4tv</p>
        </div>
        <img src="{% static 'etc5.jpg' %}" alt="koiTV" style="width: 400px;">
    </div>
    </div>


    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width: 716px;">
        <div class="my-3 py-3">
        <h2 class="display-5">웃소</h2>
        <p class="lead">https://www.youtube.com/channel/UCmzMtXrJgfCqA0rfhz8_P4A</p>
        </div>
        <!-- <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"> -->
        <img src="{% static 'etc7.jpg' %}" alt="utso" style="width: 400px; height:250px;">
        <!-- </div> -->
    </div>
    
    <div class="bg-warning mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-white text-center overflow-hidden" style="width: 716px;">
        <div class="my-3 p-3">
        <h2 class="display-5">느낌적인느낌</h2>
        <p class="lead">https://www.youtube.com/user/feellikefeelA</p>
        
        </div>
        <img src="{% static 'etc8.jpg' %}" alt="feellikefeel" style="width: 400px;">

        <!-- <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div> -->
    </div>
            
    </div>
{% endblock %}