{% extends 'base.html'%}

{% block contents %}

<body>
    <br>
    <div class="container">
        <div class="alert alert-primary" role="alert">
            <h4 class="alert-heading">First, read this!</h4><br>
            <p>이 곳은 글을 쓰는 페이지야. 쓰고 싶은 내용을 자유롭게 적어봐!</p>
            <hr>
            <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
        </div>
    </div>

    <div class="container">
        <form action="{% url 'create'%}">
           <h4>제목: </h4> 
           <input type="text" class="form-control" placeholder="Input title" name="title">
           <br>
           <br>
           <h4>본문: </h4>
           <!-- <textarea cols=40 rows=10 name="body"></textarea> -->
           <textarea class="form-control" rows="10" name="body"></textarea>
           <br>
           <br>
           <input class="btn btn-dark" type="submit" value="제출하기">
        </form>
    </div>

</body>


{% endblock %}