
{% extends 'base.html'%}
{% block contents %}
<head>
    <style>
    .center{
        display: table; margin-left: auto; margin-right: auto; 
    
        font-size: 15px;
    }
    </style>
</head>
<body>
<div class="center" style="margin-top:100px;">
<table class="table table-hover" style="width:1000px;">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">TITLE</th>
        <th scope="col">CONTENT</th>
        <th scope="col">ID</th>
        <th scope="col">TIME</th>

        </tr>
    </thead>

    <tbody>
        {% for recommand in posts %}
        <tr>
        <th scope="row">{{recommand.number}}</th>
        <td><a href="{% url 'detail' recommand.id %}" >{{recommand.title}}</a></td>
        <td>{{recommand.summary}}</td>
        <td>admin@email.com</td>
        <td>{{recommand.pub_date}}</td>

        </tr>
        {% endfor %}
        
    </tbody>
</table>

        <a class="btn btn-primary" href="new/" role="button"style="float: right;">추천글 쓰러가기</a>

<br><br>
<div class="center">
    <nav aria-label="Page navigation example" style="font-size:10px;">
        <ul class="pagination">
            {% if posts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{posts.previous_page_number}}">Previous</a></li>
            {% endif %}
            

            <li class="page-item"><a class="page-link" href="#">{{ posts.number }}</a></li>
            <li class="page-item"><a class="page-link" href="#">of</a></li>
            <li class="page-item"><a class="page-link" href="?page={{posts.paginator.num_pages}}">{{posts.paginator.num_pages}}</a></li>
            {% if posts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}">Next</a></li>
            {% endif %}

        </ul>
    </nav>
</div>    
</div>
</body>
{% endblock %}